{% extends 'base.html.twig' %}

{% block title %}Edit Post
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Update Post</h1>
        <a href="{{ path('post.list') }}" class="btn btn-info ">
            <i class="fa fa-arrow-left"></i>
        </a>

    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-1  "></div>
        <div class="col-md-6">

            {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
            </br>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.content').richText();
        });
    </script>
{% endblock %}
