{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Create new Users</h1>
            <a href="{{ path('user.list') }}" class="btn btn-info "><i class="fa fa-arrow-left"></i></a>
            
          </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-12">
      <div class="col-md-offset-6 col-md-6">
      {{ form_start(form) }}
      {{ form(form) }}
      {{ form_end(form) }}
    </div>
    </div>
    </div>
{% endblock %}
